$color-primary-color: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -box-sizing: border-box;
}

body {
    position: relative;
}

.header {
    width: 100%;
    height: 120px;
    position: fixed;
    background-color: $color-light-xl;
    opacity: 0.9;
}

.header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
}

.logo {
    display: flex;
    flex-direction: column;
    opacity: 1.0;
}

.logo__title h1 {
    color: $color-dark-l;
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 110%;
    opacity: 1.0;
}

.logo__subtitle {
    margin-top: 10px;
    color: $color-dark-3xl;
    font-family: Arial;
    font-size: 0.8125rem;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
    opacity: 1.0;
}

.menu {
    display: flex;
    width: 443px;
    opacity: 1.0;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    opacity: 1.0;
}

.list__item {
    display: flex;
    align-items: center;
    opacity: 1.0;
}

.list__link {
    color: $color-dark-l;
    font-family: Arial;
    line-height: 160%;
    font-size: 15px;
    font-weight: 400;
    opacity: 1.0;
}

.list__link:hover {
    cursor: pointer;
    color: $color-dark-3xl;
}

.list__link_active {
    color: $color-dark-3xl;
    border-bottom: solid 3px $color-primary-color;
}

.list__link_disabled {
    color: $color-dark-l;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
    width: 100%;
    justify-content: space-between;
}

.pets {
    display: flex;
    background-color: $color-light-l;
    padding-top: 120px;
}

.pets__wrapper {
    display: flex;
    flex-direction: column;
    padding: 80px 0 100px;
    align-items: center;
    width: 100%;
}

.pets__title h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets__content1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 60px;
}

.pets__content2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
}

.pets__content__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light-s;
    padding-bottom: 30px;
}

.pets__content__block:hover {
    cursor: pointer;
}

.pets__content__block p {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 30px;
}

.pets__content_button1 {
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    width: 187px;
    padding: 12px 0;
    margin-top: 33px;
    border: 2px solid #F1CDB3;
    background-color: $color-light-xl;
    border-radius: 100px;
    justify-content: space-around;
    display: flex;
}

.pets__content_button1:hover {
    cursor: pointer;
    border: 2px solid $color-primary-light;
    background-color: $color-primary-light;
}

.pets__nav {
    padding-top: 60px;
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.pets__nav_left {
    background-color: $color-light-l;
    border: 2px solid $color-dark-s;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    align-items: center;
}

.pets__nav_left img {
    transform: rotate(180deg);
    fill: $color-dark-s;
}

.svg {
    transform: rotate(180deg);
    fill: $color-dark-s;
}

.pets__nav_center {
    background-color: $color-primary-color;
    border: 2px solid $color-primary-color;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    align-items: center;
}

.pets__nav_center p {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

.pets__nav_right {
    background-color: $color-light-l;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    align-items: center;
}

.pets__link_active:hover {
    cursor: pointer;
    background-color: #F1CDB3;
    border: 2px solid #F1CDB3;
}

.img1 {
    transform: rotate(180deg);
}

.footer {
    background: url(../../assets/noise_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    display: flex;
}

.footer__wrapper {
    display: flex;
    width: 100%;
    padding-top: 40px;
    justify-content: space-between;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 16px;
}

.footer__contacts h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__contacts a {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #F1CDB3;
    display: flex;
    align-items: center;
}

.footer__adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 16px;
    padding-right: 5px;
}

.footer__adress h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__adress a {
    text-decoration: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: center;
}

.footer__contact_fix {
    padding-bottom: 3px;
}