body {
margin: 0 auto;
padding: 0;
max-width: 1600px;
width: 100%;
}
button {
padding:0;
margin: 0;
}

h1 {margin:0;}
a {
	text-decoration: none;
	color:#FFFFFF;
}
ul {
display: block;
list-style-type: none;
padding:25px 0 37px;
margin:0;

}
li{
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color:#FFFFFF;
float:left;
display: flex;
align-items: center;
}
h2{
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
margin:0;
}
p {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
margin:0;
}



.first {
background: url(assets/bg-image.png) center top no-repeat;
position: relative;
margin:0 auto;
max-width: 1600px;
width:100%;
height: 744px;
}

header {
position: relative;
width: 1600px;
height: 95px;
margin:0 auto;
}
header ul {
display: flex;
}
header li {
	padding-top: 13px;
}

header #libg {
position: relative;
margin:0 50px 0 50px;
background: url(assets/vector.png) center top no-repeat;
width: 44px;
height: 45px;
}

#about {
	margin:0 50px 0 502px;
width: 38px;
height: 21px;
}
#about a {border-bottom: white 1px solid;}
#about:hover { border-bottom:white 2px solid; }
#syll:hover { border-bottom:white 2px solid; }
#proj:hover { border-bottom:white 2px solid; }
#faq:hover { border-bottom:white 2px solid; }

#syll {
	margin:0 50px 0 35px;
width: 53px;
height: 20px;
opacity: 0.8;
}
#proj {
	margin:0 50px 0 51px;
width: 52px;
height: 20px;
opacity: 0.8;
}
#faq{
	margin:0 33px 0;
width: 26px;
height: 20px;
opacity: 0.8;
}

.ylife {
margin-top:136px;
margin-left: 435px;
height: 75px;
line-height: 75px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 4.5px;
text-transform: uppercase;
color: #FFFFFF;
}

.textweb {
margin-top:20px;
margin-left: 548px;
width: 504px;
height: 50px;
text-align: center;
color: #FFFFFF;
}

.button {
margin:30px 0 0 708px;
display: flex;
background: #00AFDB;	
width:184px;
height: 46px;
}

.button a {
text-decoration: none;
position: static;
width: 90px;
height: 16px;
left: calc(50% - 90px/2);
top: calc(50% - 16px/2);
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
flex: none;
order: 0;
align-self: center;
margin: 0px 0px;
padding: 15px 47px 15px 47px;
}
.button:hover { background: #009CC2; }

.socials {
margin:183px 0 0 715px;
height: 20px;

}

.socials li {
padding: 0 30px 0 0;
}
.socials ul {
margin: 0;
padding:0;
}

.socials img {
width: 20px;
height: 20px;
}
.socials a:hover {transform: scale(1.2)}

.second {

width: 1600px;
height: 842px;

background: #FFFFFF;
display: flex;
}

.content2 {
padding: 295px 248px 314px 269px;
width: 924px;
height: 842px;
}
.content2 h2{

padding:0 39px 20px 0;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
letter-spacing: 1px;
text-transform: uppercase;
color: #373737;
}
.content2 p {
padding-top: 1px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #4E4E4E;
height: 80px;
margin-bottom: 30px;
}
.button2 {
float:left;
height: 46px;
background: #00AFDB;
width:184px;
}

.button2 a {
text-decoration: none;
position: static;
width: 90px;
height: 16px;
left: calc(50% - 90px/2);
top: calc(50% - 16px/2);
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
flex: none;
order: 0;
align-self: center;
margin: 0px 0px;
padding: 15px 47px;
}
.button2:hover { background: #009CC2;}

.image2 {
margin: 120px 269px 140px 0;
}

.third {
height: 504px;
width: 1600px;
background: #F5F6F7;
display: flex;
}

.community-left {
	width: 298px;
	padding: 155px 139px 174px 269px;
}
.community-left img{
width:45px;
height: 45px;
padding-left: 127px;
padding-bottom: 15px;
}
.community-left h3 {
margin:0;
padding:0 0 10px 69px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 2.4px;
text-transform: uppercase;
color: #373737;
}
.community-left p {
width:298px;
height: 80px;
padding:0 139px 0 0;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
display: flex;
align-items: flex-end;
text-align: center;
color: #4E4E4E;
}


.community-right {
	width:894px;
}

.slider-nav {
width: 83px;
height: 18px;
padding:82px 269px 20px 542px;
display: flex;
}
.slider-nav span {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 100%;
display: flex;
align-items: center;
color: #373737;
}

.slider-nav-arrow-left {
	padding-right:14px; 
}
.slider-nav-arrow-right {
	padding-left:14px; 
}

.slider-nav-decimal{
padding:0 4px;
}

.slider-nav img:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.slider-list{
 max-width: 894px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slider3 {
	overflow: hidden;
}

.slider-list img{
	padding-right: 30px;
	height: 244px;
}

.fourth {
height: 842px;
display: flex;
}

.implement-left {
width: 815px;
padding: 120px 139px 140px 269px;
}

.implement-right {
width: 785px;
padding: 319px 378px 339px 0;
}
.implement-right h2 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
letter-spacing: 1px;
text-transform: uppercase;
color: #373737;
padding-bottom: 20px;
}

.implement-right p {
width:407px;
height: 60px;
padding-top: 0;
padding-bottom: 30px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #4E4E4E;
}

.button3 {
float:left;
height: 46px;
background: #00AFDB;
width:180px;
}
.button3 a {
text-decoration: none;
position: static;
width: 90px;
height: 16px;
left: calc(50% - 90px/2);
top: calc(50% - 16px/2);
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
flex: none;
order: 0;
align-self: center;
margin: 0px 0px;
padding: 15px 47px;
}
.button3:hover { background: #009CC2; }

.fifth {
height: 524px;
display: block;
background: url(assets/bgemail.png) center top no-repeat;
}

.emailform-text{


}
.emailform-text h2{
padding: 200px 0 0 610px;
height: 28px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
}

.emailform {
padding-top:30px;
padding-left: 597px;
}

#emailin  {
width: 316px;
height: 46px;
border: none;
font-weight: normal;
font-size: 14px;
color: #373737;
outline: none;
}

.emailform input[type="email" i] {
    padding: 0 0 0 24px;
}

.button-subscribe {
    display: inline;
    width: 66px;
    height: 45.5px;
    background: #00AFDB;
    border: 0;
    outline: 0;
    padding:0;
    margin: -1px 0 0 -4px;
    position:relative;
    top:1px;

}
.button-subscribe:hover {
background: #33FF12;
}
.button-subscribe img:hover { transform: scale(1.3); }

.icon-check img{
	padding-top: 16px;
position: absolute;
z-index: 1;

}

.sixth {
height: 464px;
display: block;
background: #F5F6F7;
}

.download-text{
height: 118px;
padding:120px 0 0 560px;
}

.download-text h2 {
height: 28px;
padding-left: 115px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #373737;
}
.download-text p {
height: 40px;
width: 480px;
padding-top: 20px;
padding-bottom: 30px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
display: flex;
align-items: center;
text-align: center;
color: #4E4E4E;
}

.download {
padding: 0 0 0 599px;
display: flex;
}

.btn-apple {
display: flex;
width: 186px;
height: 46px;
background: #00AFDB;
text-transform: uppercase;
letter-spacing: -0.7px;
border: 0;
outline: 0;
margin-right: 30px;
}
.btn-apple p {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: flex-end;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding: 15px 18px 0;
}
.btn-icon {
display: flex;
align-items: center;
justify-content: center;
width: 59px;
height: 46px;
background: #009CC2;
}
.btn-icon img {
display: flex;

}

.btn-android {
display: flex;
width: 186px;
height: 46px;
background: #00AFDB;
text-transform: uppercase;
letter-spacing: -0.7px;
border: 0;
outline: 0;
}
.btn-android p {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: flex-end;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding: 15px 15px 0 18px;
}

.btn-apple div {
margin-left: 8px;
}

.btn-android div {
margin-left: 8px;
}

.btn-apple:hover{
background: #009CC2;
cursor: pointer;
}
.btn-android:hover{
background: #009CC2;
cursor: pointer;
}
.btn-icon img:hover{transform: scale(1.3);}

.footer {
height: 185px;
background: #000000;
display: flex;
}

.footer-nav {
width:396px;
padding: 48px 0 0 140px;
}
.footer-nav li {
padding: 0 20px;
}
.footer-nav a:hover{transform: scale(1.3); color:#818181;}
#privacy {
border-right: 1px solid #4E4E4E;
border-left:1px solid #4E4E4E;
}

.footer-logo {
width:528px;
margin-top: 60px;
background: url(assets/vector.png) center top no-repeat;
}

.copyright {
width: 536px;
}
.copyright p {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #818181;
text-align: right;
padding-top: 73px;
padding-right:160px;
}